[Unit]
Description=Monthly SMART long self-test

[Timer]
OnCalendar=Sun *-*-01..07 04:00:00
Persistent=true
AccuracySec=1min
Unit=smart-monitor@long.service

[Install]
WantedBy=timers.target
